body, html{
    height:100%;
    margin:0;
    padding:0;
}

html{
  scroll-behavior: smooth;
}

p{
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}


h1, h3, h4{
  font-family: 'Open Sans Condensed', sans-serif;
}


#h1{
  color:#77f9f2;
  padding-top:60px;
  padding-bottom: 30px;
  text-align:center;
  margin-top:0px;
  font-size: 65px;
}

.main-nav{
  display: flex;
  margin-right: 30px;
  flex-direction: row;
  justify-content: flex-end;
}

.nav-links,
.logo {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
}

.logo img{
  width: 60px;
  padding-top: 5px;
}

.main-nav li {
    margin: 0;
    padding: 20px;  
    /* border :2px solid; */
}

.main-nav a:hover {
  color: #77f8f3;
}

.logo {
    display: inline-block;
    font-size: 22px;
    margin-top: 0;
    margin-left: 20px;
}

header img {
  height: 80px;
  border: 3px solid blue;
}

header {
  /* background: rgba(255,255,255,0.9); */
  /* position: fixed; */
  background: #232c38;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
}

header * {
  display: inline;
}

header li {
  margin: 20px;
}

header li a {
  color: #e5e5e5;
  text-decoration: none;
  font-size: 18px;
  padding: 5px;
}

header li a:hover{
  color: #00fff9;
  padding: 5px;
  background-color: #0d0d13;
}

.nav-logo{
  float: left;
  padding: 5px;
  padding-top:7px;
  padding-left: 7px;
}

/*introduction div for phones*/
.introduction{
  background-color: #232c38;
  height: 100%;
}

.intro-pic img{
  width: 70%;
  filter: brightness(90%) sepia(15%);
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 16px 16px #00fff9;
}

.intro-column{
  position: relative;
}

.intro-box{
  color: black;
  height: 100%;
  background-color: #dadbdd;
  width: 85%;
  margin: 0 auto;
  display: block;
  margin-top: 8%;
}

.intro-box-content{
  height: 100%;
  color: #13151d;
  padding: 15px;
}

.intro-box-content p{
  margin: 15px;
  font-size: 34px;
}

.intro-box-content h3{
  font-size: 50px;
  margin: 15px;
}

/*introduction div for desktop or tablets, anything over 420px*/
@media only screen and (min-device-width: 420px) {
  #h1{
    color:#77f9f2;
    padding-top:50px;
    padding-bottom: 30px;
    text-align:center;
    margin-top:0px;
    font-size: 55px;
  }

.introduction{
  height: auto;
  background-color:#232c38;
  }

.intro-container{  
  margin-top: -10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.intro-column{
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  position: relative;
}

.intro-pic{
  position: absolute;
}

.intro-pic img{
  width: 73%;
  filter: brightness(90%) sepia(15%);
  margin-left: 35%;
  box-shadow: none;
  transition: box-shadow 0.25s;
}

.intro-pic img:hover{
  box-shadow: 16px 16px #77f8f3;
}

.intro-box{
  /* background-color:#e5e5e5; */
  background-color: #e5e5e5;
  height: auto;
  max-width: 500px;
  padding: 30px;
  margin-right: 30%;
  margin-top: 40%;
  margin-bottom: 20%;
  /* position: absolute; */
}

.intro-box h3{
  font-size: 24px;
}

.intro-box-content{
  color:#13151d;
}

.intro-box-content h3{
  margin: 0 auto;
  margin-bottom: 10px;
}

.intro-box-content p{
  margin: 0 auto;
  font-size: 16px;
  }
}

#first-logo{
  mix-blend-mode: multiply;
  transform: rotate(270deg);
  z-index: 1;
  margin-top: 30px;
}

.first{
  background-image: url('backgroundme-phone.jpg');
  background-position: center top; 
  background-repeat: no-repeat;
  background-size: 1300px;
  background-attachment: fixed;
  height: 40%;
}

.leftt{
  float: left;
  width: 45%;
  height: 60%;
  position: relative;
  color: #e5e5e5;
}

.left-content{
  padding-left: 20%;
  padding-top: 28%;
  padding-right: 10%;
  position: absolute;
}

.left-content h1{
  margin: 0 auto;
  font-size: 45px;
  text-shadow: 5px 2px #232c38;
}

.left-content p{
  font-size: 20px;
}

.one{
  position: relative;
  z-index:1;
}

.one h1{
  font-size: 65px;
  color: #e5e5e5;
}

.one:after{
  content:"";
  position:absolute;
  border: 5px solid #77f8f3;
  width: 210px;
  z-index:-1;
  top: 76%;
  left: 7%;
}

#arrow{
  display:none
}

.banner-area{
  display: none;
}

/*very first div for desktops including the sidebar which disappears for phones*/
@media only screen and (min-device-width: 420px){
.first{
  height:100%;
  background-image: url('backgroundme.jpg');
  background-attachment: fixed;
  background-position: center center;
  background-size: cover; 
}

#arrow{
  margin-top: 30px;
  width: 140px;
  opacity: 0.8;
}

#arrow:hover{
  animation: wiggle 380ms infinite;
}

@keyframes wiggle {
  0% { transform: translate(2px, 0); }
  50% { transform: translate(-2px, 0); }
  100% { transform: translate(2px, 0); }
}

.leftt{
  float: left;
  width: 45%;
  height: 100%;
  position: relative;
  color: #e5e5e5;
}

.left-content{
  padding-left: 20%;
  padding-top: 30%;
  padding-right: 10%;
  position: absolute;
}

.left-content h1{
  margin: 0 auto;
  font-size: 45px;
  text-shadow: 5px 2px #232c38;
}

.left-content p{
  font-size: 16px;
}

.one{
  position: relative;
  z-index:1;
}

.one h1{
  font-size: 50px;
  color: #e5e5e5;
}

.one:after{
  content:"";
  position:absolute;
  border: 5px solid #77f8f3;
  width: 210px;
  z-index:-1;
  top: 76%;
  left: 7%;
}

.banner-area{
  display: block;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 15px;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1;
  height:200px;
}

.banner-area h2{
  position: relative;
  top: -5px;
  text-align: center;
}

.banner-area a{
  text-decoration: none;
}

.btn-area{
  background-color: #77f8f3;
  width: 300px;
  height: 60px;
  border-radius: 20px;
  position: fixed;
  right: -230px;
  transition: .8s ease;
  box-shadow: 4px 5px 10px #000;
}

.btn-area:hover{
  background-color: #e5e5e5;
  position: fixed;
  right: -50px;
  width: 300px;
  border: none;
  color: #232c38;
  border-radius: 0;
}

.btn-area h2 i:hover{
  color: white;
}

#nav1{
  top: 200px;
}

#nav2{
  top: 270px;
}

#nav3{
  top: 340px;
}

#nav4{
  top: 410px;
}

#nav5{
  top: 480px;
}

.btn-area h2 i{
  position: absolute;
  left: 27px;
  color: #232c38;
  font-size: 25px !important;
  padding-top: 4px;
  }
}
/*end of very first div*/

/*skills for phones*/
.three{
  background:#0c0d13;
}

.three p{
  color:#c5c6c8;
}

#skills_hr{
  display:none;
}

.skills img{
width: 98%;
margin-left: auto;
margin-right: auto;
display: block;
}

.column{
  text-align:center;
}

.column p{
  margin-left: 45px;
  margin-right: 45px;
  margin-bottom: 48px;
  padding-top: 0;
  font-size: 24px;
}

.column img{
  width:50%;
  margin:0 auto;
}

.column1{
  float:left;
  width:50%;
  text-align:center;
}

.column1 img{
  padding-top:30px;
  width:95%;
  padding-left:20%;
}
/*end of skills for phones*/


/*desktop and tablets for skills*/
@media only screen and (min-device-width: 420px){
.three{
    background:#0c0d13;
}

.three p{
    color:#c5c6c8;
}

#skills_hr{
  border: 1px solid #77f8f3;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 50px;
}

.skills img{
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.column{
    float:left;
    width:33%;
    text-align:center;
}

.column p{
    padding:40px;
    padding-top:0;
    font-size: 15px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
}


.column img{
    width:40%;
    margin:0 auto;
}

.column1{
    float:left;
    width:50%;
    text-align:center;
}

.column1 img{
    padding-top:30px;
    width:95%;
    padding-left:20%;
  }
}
/*end of desktop and tablets for skills*/


/*parallax for phones*/
.parallax2{
  background-image:url("kedge.jpg");
  height: 40%;
  filter: brightness(80%);
  background-size: 1200px;
  background-position: center -70px;
}

.parallax3{
  background-image:url("interns.jpg");
  height: 40%;
  filter: brightness(80%);
  background-size: 1300px;
  background-position:  -110px;
}
/*end of parallax for phones*/


/*parallax divs for desktop*/
@media only screen and (min-device-width: 420px){
  .parallax2{
      background-image:url("kedge.jpg");
      background-repeat:no-repeat;
      filter: brightness(80%);
      background-attachment:fixed;
      background-size: cover;
      background-position:center;
      height:60%;
      width:100%;
      margin:0;
      padding:0;
      position:relative
  }
  .parallax3{
    background-image:url("interns.jpg");
    filter: brightness(70%);
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-size: cover;
    background-position:center;
    height:45%;
    width:100%;
    margin:0;
    padding:0;
    position:relative
  }
}

.parallax{
    color:white;
    margin-top:0px;
    font-size:80px;
    position:relative;
}

.parallax h2{
    margin:0;
    text-align:center;
    padding-top:225px;
}

.about-me{
    height:95vh;
    background-color: #232c38;
    margin:0 auto;
    overflow-y: scroll;
}
#aboutme_hr{
  border: 2px solid #77f8f3;
}

/*experience for phones*/
/* .section2{
  background:#232c38;
  height:auto;
  color: #c5c6c8;
}

.container2{
  position: relative;
}

.col-1-desc h1{
  margin: 0 auto;
  margin-left: 35px;
}

.col-1-desc h3{
  margin: 0 auto;
  margin-left: 35px;
}

.col-1-desc p{
  margin: 0 auto;
  margin-left: 35px;
  max-width: 600px;
}

#desc-p{
  margin-top: 50px;
  margin-bottom: 65px;
  font-size: 15px;
  padding-right: 50px;
}

#customer-service{
  margin-top: 50px;
  padding-bottom: 50px;
  padding-right: 50px;
}

.col-2{
  position: absolute;
  top: 0;
  width: 100%;
  height: auto;
}

.col-2 img{
  margin-left: 70%;
  width: 250px;
} */

.section2{
  background:#232c38;
  height:auto;
  color: #c5c6c8;
}

.container2{
  text-align: center;
}


.col-2 img{
  width: 520px;
}

.col-1-desc h1{
  padding-top: 20px;
  margin: 0 auto;
  font-size: 50px;
}

.col-1-desc h3{
  margin: 0 auto;
  font-size: 32px;
}

.col-1-desc p{
  margin: 0 auto;
  font-size: 24px;
}

#desc-p{
  margin-bottom: 50px;
  padding: 30px;
}

#customer-service{
  padding-bottom: 50px;
  padding-right: 50px;
  padding-left: 30px;
  padding-right: 30px;
}


/*end of experience for phones*/


/*experience section for desktop/tablet*/
@media only screen and (min-device-width: 420px){
.section2{
    background-color:#232c38;
    height:auto;
    overflow-y: scroll;
}

.container1{
  clear: left;
  float: left;
  width: 100%;
  overflow: hidden;
}

.container2{
  float: left;
  width: 100%;
  position: relative;
  right: 55%;
  /* border: 2px solid red; */
}

.col-1{
  /* border: 2px solid yellow; */
  float: left;
  width: 52%;
  position: relative;
  left: 52%;
  overflow: hidden;
  margin-left:auto;
  margin-right:auto;
  text-align: center;
  padding-left: 2%;
}

.col-1-desc{
  width: 96%;
  margin: auto;
  text-align: left;
}

.col-1-desc h3{
  font-size: 18px;
  color: #c5c6c8;
}

.col-1-desc h1{
  padding-top:0;
  font-size: 25px;
  color: #c5c6c8;
}

.col-1-desc p{
  font-size: 15px;
  color: #c5c6c8;
}

.col-2{
  float: left;
  width: 40%;
  position: relative;
  left: 57%;
  padding-right: 3%;
  overflow: hidden;
  text-align: center;
  /* border: 3px solid green; */
  margin-bottom: 60px;
}

.col-2-desc{
  width: 60%;
  margin: auto;
  position: relative;
}

.col-2 img{
  margin-left: 0;
  width: 175px;
}

.col-1-desc p{
  margin: 0 auto;
}

#customer-service{
  padding-bottom: 75px;
  margin-top: 0;
  padding-right: 0;
  padding-left:0;
}

#desc-p{
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 16px;
  padding-right: 0;
  padding-left: 0;
  padding-top: 0;
}


.col-1-desc h1{
  margin: 0 auto;
}

.col-1-desc h3{
  margin: 0 auto;
  }
}
/*end of experience for desktop/tablet*/

.footer{
  background-color:#646873;
  height: auto;
}

.footer h4{
  color: #c5c6c8;
  text-align:center;
  margin-top: -18px;
  font-size: 26px;
  padding-left: 10%;
  padding-right: 10%;
}

.footer-container{
  text-align: center;
  position: relative;
  font-size: 30px;
}

.footer-in p{
  display: inline-block;
  margin: 0 auto;
}

.footer-git p{
  display: inline-block;
  margin: 0 auto;
}

.footer-mail p{
  display: inline-block;
  margin: 0 auto;
}


/*footer for desktop*/
@media only screen and (min-device-width: 420px){
.footer{
  background-color:#646873;
  height: auto;
}

.footer h4{
  color: #c5c6c8;
  /* border: 3px solid red; */
  text-align:center;
  margin-top: -18px;
  font-size: 23px;
  padding-left: 20%;
  padding-right: 20%;
}

.footer-container{
  text-align: center;
  position: relative;
}

.footer-in p{
  display: inline-block;
}

.footer-in:hover{
  color: #77f8f3;
  -webkit-transition: color 0.2s ease-out;
  -moz-transition: color 0.2s ease-out;
  -o-transition: color 0.2s ease-out;
  -ms-transition: color 0.2s ease-out;
  transition: color 0.2s ease-out;
}

.footer-git p{
  display: inline-block;
}

.footer-git:hover{ 
  color: #77f8f3;
  -webkit-transition: color 0.2s ease-out;
  -moz-transition: color 0.2s ease-out;
  -o-transition: color 0.2s ease-out;
  -ms-transition: color 0.2s ease-out;
  transition: color 0.2s ease-out;
}

.footer-mail p{
  display: inline-block;
}

.footer-mail:hover{
  color: #77f8f3;
  -webkit-transition: color 0.2s ease-out;
  -moz-transition: color 0.2s ease-out;
  -o-transition: color 0.2s ease-out;
  -ms-transition: color 0.2s ease-out;
  transition: color 0.2s ease-out;
}

.copyright{
  margin-top: 22px;
}

.copyright p{
  margin: 0 auto;
  color: #939596;
}

#copyright2{
  font-size: 12px;
  padding-bottom: 10px;
  }
}