body {
  font-family: 'Inter', sans-serif; /* Use Inter font with fallback to sans-serif */
  font-weight: 300; /* Use a lighter font weight */
  letter-spacing: -0.2px;
  margin: 0;
  padding: 0;
  background-color: #F8F8F8;
  color: #2b2b2b;
}

.blur {
  filter: blur(5px); /* Adjust the blur amount as needed */
  transition: filter 0.3s; /* Add a smooth transition effect */
}

.sticky-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}


.sticky-nav .logo {
  flex-grow: 1; /* Allow the logo to grow and take up remaining space */
}

.sticky-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  margin-right: 80px; /* Add margin to the right of the links */
}

.sticky-nav ul li {
  margin-left: 32px;
}

.sticky-nav ul li:first-child {
  margin-left: 0;
}

.sticky-nav ul li a.active {
  color: black; /* Color for active tab */
  font-weight: bold; /* Bold font for active tab */
}

.sticky-nav ul li a {
  text-decoration: none;
  color: #989898;
  font-weight: 500;
  transition: color 0.3s;
}

.sticky-nav ul li a:hover {
  color: #333;
}

.logo{
  margin-left: 40px;
}

.logo img {
  max-width: 60px; /* Adjust the max-width of the logo */
  height: auto; /* Maintain aspect ratio */
  margin-right: 20px;
}

#coded{
  font-size: 12px;
  text-align: center; 
  margin-top: 60px;
}

.sidebar {
  height: 100vh; /* Full height of the viewport */
  width: 230px; /* Width of the sidebar */
  position: fixed; /* Fixed position so it stays visible while scrolling */
  top: 0; /* Align to the top */
  left: 0; /* Align to the left */
  padding: 10px; /* Add padding to create space between the stroke and content */
  background-color: transparent; /* Set the background color to transparent */
  padding-top: 20px; /* Add some space at the top */
  z-index: 1000; /* Ensure sidebar appears above other content */
  overflow-y: auto; /* Allow sidebar to be scrollable if content exceeds height */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow for depth */
}

.top-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin-bottom: 40px;
}

.left-column {
  flex: 3;
  margin-right: 40px;
}

.left-column img {
  width: 100%; /* Use 100% to make the image fill the entire width of its container */
  height: auto; /* Maintain the aspect ratio of the image */
}

.right-column {
  margin-top: 40px;
  flex: 4;
  padding-left: 20px;
  line-height: 1.5;
}

.right-column h2{
  margin-bottom: 0;
  font-weight: 500;
}

.right-column h1{
  margin-top: 10px;
  font-size: 36px;
}

.buttons {
  margin-top: 20px;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #4A90E2;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  margin-right: 10px;
}

.button:hover {
  background-color: #357EBD;
}


.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8f8f8;
  /* padding: 20px; */
  border-radius: 5px; /* Add border-radius for rounded corners */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add box shadow for a subtle effect */
}

.about-content {
  display: flex;
  max-width: 800px;
  width: 100%;
}

.about-left-column,
.about-right-column {
  display: flex; /* Use flexbox for alignment */
  flex-direction: column; /* Stack items vertically */
  justify-content: center; /* Center items vertically */
  flex: 1;
  padding: 20px;
}

.about-left-column h2 {
  margin-bottom: 10px;
}

.about-left-column .button {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 10px;
  background-color: #333;
  color: white;
  text-decoration: none;
  border: 2px solid #333;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  width: 120px; /* Set a specific width for the button */
  text-align: center; /* Center the text horizontally within the button */
}

.about-left-column .button:hover {
  background-color: white;
  color: #333;
}

.about-right-column {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-right-column img {
  max-width: 70%;
  height: auto;
  border-radius: 5px;
}

.header {
  border-right: 1px solid #ccc; /* Add a 1px solid stroke on the right side */
  padding: 10px; /* Add padding to create space between the stroke and content */
  background-color: transparent; /* Set the background color to transparent */
}

.sidebar ul {
  list-style-type: none; /* Remove default list styles */
  padding-left: 0; /* Remove default left padding */
}

.sidebar ul li {
  margin-bottom: 10px; /* Add space between each list item */
}

.sidebar ul li a {
  color: #2b2b2b;
  text-decoration: none; /* Remove underline from links */
  display: block; /* Display as block to fill the entire list item */
  padding: 10px 20px; /* Add padding for better clickability */
  transition: background-color 0.3s; /* Smooth transition for background color change */
}

.sidebar ul li a:hover {
  color: #ccc;
}


/* Adjust main content to avoid overlap with sidebar */
.wrapper {
  display: flex; /* Use flexbox for layout */

}

.content {
  flex: 1; /* Allow content to grow to fill available space */
  padding: 20px; /* Add padding to top and bottom */
  margin-left: auto; /* Auto margin on left side */
  margin-right: auto; /* Auto margin on right side */
  max-width: 1000px; /* Set maximum width for the content */
  margin-top: 60px;
}

.image-card {
  display: flex;
  align-items: center; /* Vertically center align the items */
  margin-bottom: 20px;
}

.image-container {
  position: relative;
}

.image-container img {
  width: 700px;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
  transition: transform 0.3s;
}

.image-container:hover img {
  transform: scale(1.03);
}

.overlay {
  position: absolute;
  transform: scale(1.03);
  top: 0;
  left: 0;
  width: 100%; /* Cover the entire image width */
  height: 100%; /* Cover the entire image height */
  background-color: rgba(255, 255, 255, 0.5);
  color: black;
  display: none; /* Hide the overlay by default */
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.2s;
  border-radius: 8px; /* Match the border-radius of the image */
}

.image-container:hover .overlay {
  display: flex; /* Show the overlay on hover */
  opacity: 1;
}

.card-content {
  padding: 20px 0 20px 40px;
}

.card-content h3 {
  margin: 0;
  font-size: 1.5em;
}

.card-content p {
  color: #666;
  font-size: 16px;
  margin-top: 12px;
  line-height: 1.5;
}

.cta-button {
  display: inline-block;
  padding: 10px 24px;
  background-color: white;
  border-radius: 8px;
  font-size: 16px;
  color: black;
  border: 1px solid black;
  text-decoration: none;
  transition: background-color 0.3s, box-shadow 0.3s, transform 0.15s ease-out; /* added transform with a shorter duration and easing */
  margin-right: 12px;
}

.cta-button:hover {
  background-color: #8EC5FA;
  box-shadow: 4px 4px 0px black;
  transform: translateY(-4px) translateX(-4px);
}

